@import './base.css';

body {
    display: flex;
    place-items: center;
  }

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color : var(--p-c-text-primary);
  background-color: var(--p-c-background);
}

.test {
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: var(--p-c-primary);
  transition: 0.4s;
  padding: 3px;
}

.profilePicture{
  border-radius: 100px;
}

.card {
  background-color: var(--p-c-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: var(--p-c-text-secondary);
  border-radius: 15px;
}

.card::after {
  content: "";
  bottom: -5px;
  width: 100%;
  height: 20px;
  background: var(--p-c-decoration);
  opacity: 0.6;
  filter: blur(20px);
  border-radius: 50%;
  pointer-events: none;
  animation: neon 2s infinite ease-in-out;
}

@keyframes neon {
  0%, 100% {
    filter: blur(20px);
  }
  50% {
    opacity: 1;
    filter : blur(30px)
  }
}



@media (hover: hover) {
  a:hover {
    background-color: var(--p-c-background);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
