@import './base.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--p-c-background);
}

#app {
  display: flex;
  flex: 1;
  width: 80%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: var(--p-c-primary);
  transition: 0.4s;
  padding: 3px;
}

.profilePicture{
  border-radius: 100px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects{
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
    justify-content: center;
  }
  
.competence{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 350px;
}

/* .neon::after {
  content: "";
  bottom: -5px;
  width: 100%;
  height: 20px;
  background: var(--p-c-decoration);
  opacity: 0.6;
  filter: blur(20px);
  border-radius: 50%;
  pointer-events: none;
  animation: neon 2s infinite ease-in-out;
}

@keyframes neon {
  0%, 100% {
    filter: blur(20px);
  }
  50% {
    opacity: 1;
    filter : blur(30px)
  }
} */


@media (hover: hover) {
  a:hover {
    background-color: var(--p-c-decoration);
  }

}



